@model IEnumerable<ConsumeApi.Models.Livros>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.Label("Edit")
            </th>

            <th>
                @Html.Label("Delete")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new {id=item.Id}) |
                </td>
                <td>
                    <form asp-action="Delete" method="PostAutor">
                        <input type="hidden" value="@item.Id" name="Id" />
                        <input type="image" height="16" width="16" src="/icon/close.ico" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>