@model IEnumerable<ConsumeApi.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobrenomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.Label("Edit")
            </th>

            <th>
                @Html.Label("Delete")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAutor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobrenomeAutor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>


                <td>
            @Html.ActionLink("Edit", "Update", new {id=item.Id}) |
            </td> 
                <td>
                    @Html.ActionLink("Delete", "Delete", new {id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>